@page
@model IndexModel
@{
    ViewData["Title"] = "IsHttps Check";
}

<div class="text-center">
    <h1 class="display-4">IsHttps? : @Request.IsHttps</h1>
    <p>Learn about <a href="https://devblogs.microsoft.com/aspnet/forwarded-headers-middleware-updates-in-net-core-3-0-preview-6/">ASP.NET Core Forwarded Headers Middleware</a>.</p>
</div>
