@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Is HTTPS?</h1>
    <h2 class="display-3">@Request.IsHttps</h1>
    <p>Learn more about setting up your .NET Core 2.2 apps with the [Forwarded Headers Middleware](https://devblogs.microsoft.com/aspnet/forwarded-headers-middleware-updates-in-net-core-3-0-preview-6/).</p>
</div>
